{% extends 'base.html' %}

{% block content %}
<style>
    @keyframes heartbeat {
        0%, 100% { transform: scale(1); }
        50% { transform: scale(1.25); }
    }
    .heartbeat {
        animation: heartbeat 1.5s ease-in-out infinite;
    }
</style>


<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
<div class="container mx-auto p-4">
    <form method="get" action="{% url 'listar_clientes' %}">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" name="q" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar cliente por; nombre, apodo o dni" required>
            <button type="submit" class="absolute right-2.5 bottom-2.5 px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
        </div>
    </form>
    <!-- Contenedor para resultados de búsqueda -->
    <div id="liveSearchResults" class="mt-2"></div>
</div>

  
<div class="container mx-auto p-4">
    <!-- Capa semi-transparente -->
    <div id="overlay" class="hidden fixed inset-0 bg-black opacity-20 transition duration-300"></div>

    <!-- Botón para abrir modal de Agregar Cliente -->
    <div class="mb-4 text-right">
        <button onclick="abrirModal('agregarClienteModal')" class="flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-6 h-6 mr-2" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  
                <path stroke="none" d="M0 0h24v24H0z"/>  
                <circle cx="12" cy="7" r="4" />  
                <path d="M5.5 21v-2.5a4 4 0 0 1 4-4h5a4 4 0 0 1 4 4V21" />  
                <path d="M16 11h6m-3 -3v6" />
            </svg>
            Agregar Cliente
        </button>
    </div>

    <!-- Lista de clientes -->
{% if clientes %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for cliente in clientes %}
        <div class="bg-white p-6 rounded-lg shadow-lg transition duration-300 ease-in-out hover:shadow-xl">
            <h2 class="text-xl font-bold text-blue-700 mb-2">{{ cliente.nombre_completo }}</h2>
            <p class="text-sm text-gray-500 mb-1">{{ cliente.apodo }} - {{ cliente.dni }}</p>
            <p class="text-sm font-semibold mb-3">Inicio: <span class="text-green-600">{{ cliente.fecha_inicio_cuota }}</span> - Fin: <span class="text-red-600">{{ cliente.fecha_fin_cuota }}</span></p>
            <div class="flex justify-between items-center space-x-2">
                <button onclick="abrirModalEditar('{{ cliente.id_cliente }}')" class="flex items-center px-3 py-1.5 bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-300 transition-all duration-300 text-white rounded-md focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" aria-label="Editar cliente">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM18.41 7.34c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                    </svg>
                    Editar
                </button>
                <button onclick="abrirModalHistorial('{{ cliente.id_cliente }}')" class="flex items-center px-3 py-1.5 bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-300 transition-all duration-300 text-white rounded-md focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" aria-label="Ver historial">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05-1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                    </svg>
                    Ver Historial
                </button>
                <form onsubmit="return confirm('¿Estás seguro de querer eliminar este cliente?');" action="{% url 'eliminar_cliente' cliente.id_cliente %}" method="post" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="flex items-center px-3 py-1.5 bg-red-500 hover:bg-red-600 focus:ring-2 focus:ring-red-300 transition-all duration-300 text-white rounded-md focus:outline-none">
                        <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20" aria-label="Eliminar cliente">
                            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
                        </svg>
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <!-- Contenedor Principal Centrado -->
    <div class="flex flex-col items-center justify-center min-h-screen -mt-16">
        <!-- Contenedor del Mensaje -->
        <div class="text-center p-6 bg-white rounded-lg shadow-xl">
            <svg class="h-32 w-32 text-red-600 heartbeat mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            <p class="text-lg font-semibold text-gray-700">No hay clientes para mostrar.</p>
        </div>
    </div>
{% endif %}


    <!-- Modal para Agregar Cliente -->
<div id="agregarClienteModal" class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 overflow-y-auto overflow-x-hidden z-50 w-full md:max-w-2xl p-4 transition duration-300" aria-hidden="true">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 transition duration-300">
            <!-- Modal header -->
            {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
            <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                    Agregar Cliente
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" onclick="cerrarModal('agregarClienteModal')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                      </svg>
                      
                </button>
            </div>
            <!-- Modal body -->
            <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="{% url 'crear_cliente' %}" method="post">
                {% csrf_token %}
                <!-- Campos del formulario -->
                <div>
                    <label for="nombre_completo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Completo</label>
                    <input type="text" name="nombre_completo" id="nombre_completo" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" placeholder="Nombre Completo" required="">
                </div>
                <div>
                    <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI</label>
                    <input type="text" name="dni" id="dni" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" placeholder="DNI" required="">
                </div>
                <div>
                    <label for="apodo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apodo</label>
                    <input type="text" name="apodo" id="apodo" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" placeholder="Apodo" required="">
                </div>
                <div>
                    <label for="fecha_inicio_cuota" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Inicio Cuota</label>
                    <input type="date" name="fecha_inicio_cuota" id="fecha_inicio_cuota" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" required="">
                </div>
                <div>
                    <label for="fecha_fin_cuota" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Fin Cuota</label>
                    <input type="date" name="fecha_fin_cuota" id="fecha_fin_cuota" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" required="">
                </div>
                <!-- Botón para agregar cliente -->
                <div>
                    <button type="submit" class="flex items-center justify-center w-full py-2 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 transition duration-300">
                        Agregar Cliente
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal para Ver Historial -->
<div id="historialModal" class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 overflow-y-auto overflow-x-hidden z-50 w-full md:max-w-2xl p-4 transition duration-300">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 transition duration-300">
            <!-- Modal header -->
            <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white" id="modalTitle">
                    {% if cliente_nombre %}
                        Historial de Cuotas - {{ cliente_nombre }}
                    {% else %}
                        Historial de Cuotas
                    {% endif %}
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" onclick="cerrarModal('historialModal')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                      </svg>
                      
                </button>
            </div>

            <!-- Modal body -->
            <div class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8">
                <!-- Contenido del historial -->
                <ul>
                    {% for historial in historiales_cuotas %}
                        {% if historial.cliente.dni == cliente_dni %}
                            <li>
                                Inicio: {{ historial.fecha_inicio_cuota|date:"d M Y" }} - Fin: {{ historial.fecha_fin_cuota|date:"d M Y" }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>





<!-- Modal para Editar Cliente -->
<div id="editarClienteModal" class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 overflow-y-auto overflow-x-hidden z-50 w-full md:max-w-2xl p-4 transition duration-300">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 transition duration-300">
            <!-- Modal header -->
            <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                    Editar Cliente
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" onclick="cerrarModal('editarClienteModal')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                      </svg>
                          
                </button>
            </div>
            <form id="editarForm" class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" method="post">
                                {% csrf_token %}
                <!-- Campo para DNI editable -->
                <div>
                    <label for="id_cliente" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID Cliente</label>
                    <input type="text" name="id_cliente" id="id_cliente" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" readonly required>
                </div>
                <div>
                    <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI</label>
                    <input type="text" name="dni" id="dni" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" required>
                </div>
                <!-- Campos del formulario -->
                <div>
                    <label for="nombre_completo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nuevo Nombre Completo</label>
                    <input type="text" name="nombre_completo" id="nombre_completo" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" placeholder="Nuevo Nombre Completo" required="">
                </div>
                <div>
                    <label for="apodo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nuevo Apodo</label>
                    <input type="text" name="apodo" id="apodo" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white" placeholder="Nuevo Apodo">
                </div>
                <div>
                    <label for="fecha_inicio_cuota" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Inicio Cuota</label>
                    <input type="date" name="fecha_inicio_cuota" id="fecha_inicio_cuota" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white">
                </div>
                <div>
                    <label for="fecha_fin_cuota" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Fin Cuota</label>
                    <input type="date" name="fecha_fin_cuota" id="fecha_fin_cuota" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:text-white">
                </div>
                <!-- Botón para enviar el formulario -->
                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Guardar Cambios
                </button>
            </form>
        </div>
    </div>
</div>
<div class="flex justify-center mt-4">
    <nav class="flex items-center -space-x-px h-10 text-base">
        <a href="?page=1" class="flex items-center justify-center px-4 h-10 text-white bg-blue-500 border border-blue-500 rounded-l-md transition duration-300 ease-in-out transform hover:bg-blue-600 hover:scale-105">
            <span class="sr-only">Primera</span>
            <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
        </a>

        {% for i in clientes.paginator.page_range %}
            <a href="?page={{ i }}" class="flex items-center justify-center px-4 h-10 leading-tight {% if i == clientes.number %}text-white bg-blue-600 border-blue-600 rounded{% else %}text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 transition duration-300 ease-in-out{% endif %}">
                {{ i }}
            </a>
        {% endfor %}

        <a href="?page={{ clientes.paginator.num_pages }}" class="flex items-center justify-center px-4 h-10 text-white bg-blue-500 border border-blue-500 rounded-r-md transition duration-300 ease-in-out transform hover:bg-blue-600 hover:scale-105">
            <span class="sr-only">Última</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
        </a>
    </nav>
</div>
{% endblock %}
{% block javascript %}
<script>
    function abrirModal(id_cliente) {
        const overlay = document.getElementById('overlay');
        const modal = document.getElementById(id_cliente); // Cambiar 'id' a 'id_cliente'
        if (overlay && modal) {
            overlay.classList.remove('hidden');
            setTimeout(() => {
                overlay.classList.add('opacity-20');
                modal.classList.remove('hidden');
                const modalContent = modal.querySelector('.relative');
                if (modalContent) {
                    modalContent.classList.remove('opacity-0');
                    modalContent.classList.add('opacity-100');
                }
            }, 100);
        }
    }
    
    function cerrarModal(id_cliente) {
        const overlay = document.getElementById('overlay');
        const modal = document.getElementById(id_cliente); // Cambiar 'id' a 'id_cliente'
        if (overlay && modal) {
            overlay.classList.remove('opacity-0');
            setTimeout(() => {
                overlay.classList.add('hidden');
                const modalContent = modal.querySelector('.relative');
                if (modalContent) {
                    modalContent.classList.remove('opacity-100');
                    modalContent.classList.add('opacity-0');
                    setTimeout(() => {
                        modal.classList.add('hidden');
                    }, 300);
                }
            }, 100);
        }
    }
    function abrirModalEditar(id_cliente) {
        fetch(`/clientes/editar/${id_cliente}/`, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.json())
            .then(data => {
                const form = document.getElementById('editarForm');
                const idClienteInput = form.querySelector('input[name="id_cliente"]');
                const dniInput = form.querySelector('input[name="dni"]');
                const nombreCompletoInput = form.querySelector('input[name="nombre_completo"]');
                const apodoInput = form.querySelector('input[name="apodo"]');
                const fechaInicioInput = form.querySelector('input[name="fecha_inicio_cuota"]');
                const fechaFinInput = form.querySelector('input[name="fecha_fin_cuota"]');
    
                if (idClienteInput && dniInput && nombreCompletoInput && apodoInput && fechaInicioInput && fechaFinInput) {
                    idClienteInput.value = data.id_cliente || '';
                    dniInput.value = data.dni || '';
                    nombreCompletoInput.value = data.nombre_completo || '';
                    apodoInput.value = data.apodo || '';
                    fechaInicioInput.value = data.fecha_inicio_cuota || '';
                    fechaFinInput.value = data.fecha_fin_cuota || '';
    
                    form.action = `/clientes/editar/${id_cliente}/`;
                    abrirModal('editarClienteModal');
                } else {
                    console.error('Error: Elementos del formulario no encontrados.');
                }
            })
            .catch(error => {
                console.error('Error AJAX:', error);
            });
    }
    
    // Mantén el resto del código dentro del evento DOMContentLoaded

    
    function abrirModalHistorial(id_cliente) {
        fetch(`/historial/${id_cliente}/`, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.json())
            .then(data => {
                const modal = document.getElementById('historialModal');
                if (modal) {
                    // Limpiar el contenido anterior
                    const historialContent = modal.querySelector('.px-6');
                    historialContent.innerHTML = '';
        
                    // Obtener el nombre del cliente de la respuesta del servidor
                    const clienteNombre = data.cliente_nombre; 
        
                    // Actualizar el título con el nombre del cliente
                    const modalTitle = modal.querySelector('#modalTitle');
                    modalTitle.textContent = `Historial de Cuotas - ${clienteNombre}`;
        
                    // Crear nueva entrada para cada período de cuotas en el historial
                    const ul = document.createElement('ul');
                    data.historial.forEach(entry => {
                        const li = document.createElement('li');
                        li.textContent = `Inicio: ${formatFecha(entry.fecha_inicio_cuota)} - Fin: ${formatFecha(entry.fecha_fin_cuota)}`;
                        ul.appendChild(li);
                    });
        
                    historialContent.appendChild(ul);
        
                    // Mostrar el modal
                    abrirModal('historialModal');   
                } else {
                    console.error('Error: Elemento del modal no encontrado.');
                }
            })
            .catch(error => {
                console.error('Error AJAX:', error);
            });
    }
    
    function formatFecha(fecha) {
        const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
        const fechaObj = new Date(fecha + 'T00:00:00');
        const dia = fechaObj.getDate();
        const mes = meses[fechaObj.getMonth()];
        const año = fechaObj.getFullYear();
        return `${dia} ${mes}. ${año}`;
    }
    
    
    document.addEventListener('DOMContentLoaded', function () {
        var searchInput = document.getElementById('default-search');
        var resultsContainer = document.getElementById('liveSearchResults');
    
        if (searchInput) {
            searchInput.addEventListener('input', function () {
                var query = this.value;
    
                if (query.trim() === '') {
                    resultsContainer.innerHTML = '';
                    resultsContainer.style.display = 'none';
                    return;
                }
    
                fetch('{% url "live_search" %}?q=' + encodeURIComponent(query))
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        resultsContainer.innerHTML = '';
    
                        data.forEach(function (cliente, index) {
                            var resultItem = document.createElement('div');
                            resultItem.id = 'resultItem_' + index;  // Identificador único
                            resultItem.className = 'bg-white p-6 rounded-lg shadow-lg transition duration-300 ease-in-out hover:shadow-xl';
    
                            resultItem.addEventListener('click', function () {
                                // Redirige a la página de búsqueda con el nombre seleccionado
                                window.location.href = '{% url "listar_clientes" %}?q=' + encodeURIComponent(cliente.nombre_completo);
                            });
    
                            resultItem.innerHTML = '<h2 class="text-xl font-bold text-blue-700 mb-2">' + cliente.nombre_completo + '</h2>' +
                                '<p class="text-sm text-gray-500 mb-1">' + cliente.apodo + ' - ' + cliente.dni + '</p>';
    
                            resultsContainer.appendChild(resultItem);
                        });
    
                        resultsContainer.style.display = 'block';
                    })
                    .catch(error => {
                        console.error('Error al realizar la solicitud AJAX:', error);
                        resultsContainer.innerHTML = 'Error en la solicitud AJAX';
                    });
            });
        } else {
            console.error('Elemento searchInput no encontrado en el DOM.');
        }
    });


</script>
{% endblock %}
